.sidebar {
    position: fixed;
    right: 50px;
    z-index: 20;
    display: flex;
    padding: 0px 10px;
    background: #1D1D1D;
    flex-direction: column;
    
    justify-content: space-between;
    height: 100%;
    
    // .sidebar__content

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;

    }
}
.sidebar-previev {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;

}
.sidebar-canvas {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 3px;
    background: black url('http://localhost:8080/phone.png') repeat center;
    & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  
  
    // .sidebar-canvas__overlay

    &__overlay {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    // .sidebar-canvas__head

    &__head {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
        
    }

 

    // .sidebar-canvas__item

    &__item {
        width: 26px;
        cursor: pointer;
        height: 26px;
        margin: 5px;
        line-height: 18px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        font-weight: bold;
        font-family: Tahoma;
        overflow: hidden;
        &--hidden{
            opacity: 0;
            visibility: hidden;
            border: 0;
            height: 0px;
            margin: 0px;
            
        }
        &:hover{
            color: gold;
            border-color: gold;
        }
        &.active{
            color: gold;
            border-color: gold;
            
        }

    }


    &__drops{
        gap: 12px;
        &:hover{
            .sidebar-canvas__item--hidden{
                height: 26px;
                opacity: 1;
                margin: 5px;
                visibility: visible;
                border: 2px solid white;
               
            }
        }
    }
    &:hover{
        .sidebar-canvas__head{
            opacity: 1;
            visibility: visible;
        }
    }
}

.sidebar-canvas-footer {
    background-color: #525252a6;
    display: flex;
    align-items: center;
    position: relative;
    

    // .sidebar-canvas-footer__icon

    &__icon {   
   
    font-size: 1rem;
    color: #aaa;
    float: left;
    line-height: 26px;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 3px solid #222;
    transition: 0.2s linear;
    cursor: pointer;
    padding: 0px 7px;
    &:hover{
        color: gold;
        border-color: gold;
    }
    }

    // .sidebar-canvas-footer__fps

    &__fps {
        text-align: center;
        color: #aaa;
        font-size: 12px;
        min-width: 55px;
        vertical-align: bottom;
        line-height: 26px;
    }

    &__input{
       
        max-width: 50%;
    }
}
.active{
    color: gold;
    border-color: gold;
}


