.button {
    display: inline-block;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    z-index: 10;
    background-color: gold;
    transition: 0.3s background-color;
    &:hover{
        background: #fff;
    }
}

.bi-arrow-up-short::before {transform: scale(1.7);}
.bi-arrow-down-short::before {transform: scale(1.7);}    

.hover-icon{
    .active{
        color: gold;
    }
}
.palletes-list-select{
width: 66.66667%;

padding: 0 5px 0 5px;
color: #aaa;
font-size: 0.8rem;
text-align: left;
outline: none;
font-weight: normal;
transition: background-color 0.3s, color 0.3s;
cursor: pointer;
border-style: solid;
border-color: #333;
border-width: 0 1px 0 0;
border-radius: 0;
background-color: #3f3f3f;
&:hover{
    color: white;
    background-color: #575555;
}
}